.App {
  text-align: center;
}

.App-body {
	background-color: #213756;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 1vmin);
	color: #04080f;
}

.App-title {
	display: inline;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	padding-bottom: 30px;
}

.App-title h1 {
	color: white;
	font-size: 2em;
	font-weight: bold;
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.App-title h3 {
	color: white;
	font-size: 1.17em;
	font-weight: bold;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.App-title p {
	display: block;
	margin: 0;
	padding: 0;
	font-size: calc(5px + 2vmin);
}

.frontPageCenter {
	background-color: #142235;
	display: inline-block;
	width: calc(600px + 4vmin);
	height: calc(200px + 0.5vmin);
	line-height: 1.5;
	font-size: calc(20px + 1vmin);
	border: 8px;
	border-color: #0b121c;
	border-style: solid;
	text-align: center;
}

.frontPageCenter a {
	line-height: 2;
	text-decoration: underline;
}

.frontPageCenter a:link {
	color: #8ac4ff;
}

.frontPageCenter a:visited {
	color: #8a8aff;
}

.frontPageCenter a:hover {
	color: #c1c1e3;
}

.frontPageCenter a:after {
	content:"\a";
	white-space: pre;
}

.frontPageCenterBlockLeft {
	vertical: align-middle;
	display: inline-block;
	padding-right: calc(10px + 0.5vmin);
}

.frontPageCenterBlockRight {
	vertical: align-middle;
	display: inline-block;
	padding-left: calc(10px + 0.5vmin);
}

.verticalMatch {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	min-height: 100vh;
}

.sideNavBar {
	background-color: #142235;
	display: inline-block;
	vertical: align-middle;
	width: 15%;
	line-height: 1.5;
	font-size: calc(15px + 1vmin);
	box-sizing: border-box;
	border: 8px;
	border-color: #0b121c;
	border-style: solid;
}

.sideNavBar h1 {
	display: block;
	text-align: center;
	font-size: calc(15px + 2vmin);
	color: white;
	font-weight: bold;
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.sideNavBar a {
	line-height: 2;
	display: block;
	text-align: center;
	text-decoration: underline;
}

.sideNavBar a:link {
	color: #8ac4ff;
}

.sideNavBar a:visited {
	color: #8a8aff;
}

.sideNavBar a:hover {
	color: #c1c1e3;
}

.sideNavBar a:after {
	content:"\a";
	white-space: pre;
}

.bodyContainer {
	background-color: #213756;
	display: inline-block;
	width: 85%;
	line-height: 1.5;
	font-size: calc(20px + 1vmin);
	text-align: center;
	vertical: align-middle;
	vertical-align: top;
	box-sizing: border-box;
	padding-left: 20px;
	text-align: left;
	font-size: calc(15px + 1vmin);
	color: white;
}

.bodyContainer h1 {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 4px;
	border-color: white;
	color: white;
	font-size: 2em;
	font-weight: bold;
	border-style: solid;
	width: calc(100% - 16px);
	margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.bodyContainer button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin-top: 0.1em;
    padding: 3px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.bodyContainer h3 {
	color: white;
	font-size: 1.17em;
	font-weight: bold;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.bodyContainer input {
	height: 2.5em;
}

p a {
	line-height: 2;
	display: inline-block;
	text-align: center;
	text-decoration: underline;
	margin: 0;
	padding: 0;
}

p a:link {
	color: #8ac4ff;
}

p a:visited {
	color: #8a8aff;
}

p a:hover {
	color: #c1c1e3;
}

p a:after {
	content:"\a";
	white-space: pre;
}

.queryContainer {
	width: 95%;
	padding-top: 5px;
}

.chartContainer {
	background-color: #142235;
	border: 5px;
	border-color: white;
	border-style: solid;
	padding: 15px;
}

.optionContainer {
	padding-bottom: 1em;
}

.inlineOption {
	padding-top: 0.5em;
	display: flex;
	flex-direction: horizontal;
}

.inlineOption p {
	padding-right: 1em;
}

.inlineOption .ant-select {
	margin-right: 1em;
}

.inlineOption .ant-picker {
	margin-right: 1em;
}
